@import url(https://fonts.googleapis.com/css?family=Pacifico);

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.thumbnail h4 {
  text-align: center;
}

.thumbnail:active,
.thumbnail:hover,
.thumbnail:link,
.thumbnail:visited {
  text-decoration: none;
}